
#cartTitle {
    
    text-decoration: underline;
}


#cartItems {
    
    position: relative;
 
    border: thick solid #0000FF;
    width: 40%;
    margin-left: 3em;
    text-align: left;
    
}

#placeOrder {
    
   position:absolute;
   border: thick solid #0000FF;
   width: 40%;
   top: 20em;
   right:5em;
   text-align: right;
    
    
}
.cartImg {
    width: 250px;
    height: 250px;
}

h5 {
    text-decoration: underline;
}


#thanks {
    color: darkblue;
    font-size: 3em;
}