
#cartTitle {
    
    text-decoration: underline;
}


#cartItems {
    
    position: relative;
    width: 40%;
    margin-left: 3em;
    text-align: left;
    
}

#placeOrder {
    
   position:absolute;
   width: 40%;
   top: 20em;
   right:8em;
   text-align: right;

}

#shippingOptions {
    display: inline;
   
}

h5 {
    text-decoration: underline;
}


#shippingPrompt {
    font-size: .8em;
    font-weight: bold;
    margin: 0;
    color: darkblue;
}

#thanks {
    color: darkblue;
    font-size: 3em;
}