
#cartTitle {
    
    text-decoration: underline;
}


#cartItems {
    
    position: absolute;
    margin-left: 3em;
    text-align: left;
    
}

#placeOrder {
    
   position:relative;
   top:5em;
   right:5em;
   text-align: right;
    
    
}
.cartImg {
    width: 250px;
    height: 250px;
}

h5 {
    text-decoration: underline;
}


#thanks {
    color: darkblue;
    font-size: 3em;
}